.clock{
    position: relative; /* Относительное позиционирование */
    top: -1em; /* Сдвигаем вниз */
    display: inline-block;
    width: 320px;
    color: white;
    margin-top: 0px;
    margin-left: 25px;
    height: 30px;
    padding: 7px 7px 0 7px;
    font-size:25px;
        }


div.clock >span {
            
            
            display: inline-block;
            font-weight: lighter;
            margin-left: 20px;
            margin-right: 20px;
        }
#day{
    margin-right: 5px;
}
#date{
    margin-left: 5px;
}

.clockbox{
    display: inline-block;
    width: 100px;
}

