html{
    background: url(https://img3.goodfon.ru/original/1920x1080/0/2b/kafe-kamin-prazdnik.jpg) no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: cover;
    background-attachment: fixed;/* Современные браузеры */
    @import url('https://fonts.googleapis.com/css?family=Acme');
    @import url('https://fonts.googleapis.com/css?family=Mali');
    @import url('../fonts/Berlin%20Sans%20FB%20Regular.ttf');
    @import url('../fonts/Berlin%20Sans%20FB%20Demi%20Bold.ttf');
    color: white;
    
}


body{
    margin:  100px auto 0;
    
    
}

.toolbar {
font-family: 'Berlin Sans FB';
position: fixed; 
border-bottom: 5px;
border-bottom-color:  rgba(19, 10,10,0.7);
/*background-color: rgba(19,16,10,1);*/
top: 0px; 
left: 0px; 
z-index: 9999;
width: 100%;
height: 100px; 
}

.toolbar  div,p{
    display: inline-block;
    font-family: 'Berlin Sans FB';
}
div.backgraund{
    position: fixed;
    background-color: rgba(19,16,10,1);/*Доделать картинку*/
    width:inherit;
    height: inherit;
}

div.worktime{
    position: relative; /* Относительное позиционирование */
    top: -0.8em; /* Сдвигаем вниз */
    font-size: 1.2em;
    text-align: left;
    color: white;
}
div.search{
    position: relative; /* Относительное позиционирование */
    top: -1.6em; /* Сдвигаем вниз */
    padding:0 20px;
    margin-left: 10%;
}

div.logo{
    position: relative;
    margin-top: 0.22%;
    margin-left: 5%;
}

[placeholder="Search"]{
    background: url(http://s1.iconbird.com/ico/2013/9/450/w256h2561380453921Search256x25632.png) no-repeat 3px 1px;
    background-position: 7px 1.2px;
    background-size:  7%;
    padding-left: 22px;
    border-width: 0;
    border-radius: 10px;
    outline-color:aquamarine;
    outline: inherit;
    
   
}

input[type="search"]:focus {
    box-shadow: 0pt 0pt 10pt 3pt gray;
    position: relative;
    
}


.search > div{
    background-color: rgba(255, 250, 250,0.97);
    border-radius: 10px;
    
}







.sociallink{
    position: relative; /* Относительное позиционирование */
    top: -1.4em; /* Сдвигаем вниз */
    margin-left: 25px;
    
}

.sociallink a div img{
    position: relative;
    top: -.5em;
    right: .5em;
    width: 25px;
    height: 25px;
}

div.lights{
    background-color: aqua;
    position: relative;
    top: .75em;
    margin: 0 7.5px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

.sociallink a div:hover{
    -webkit-transition: 0.35s;
    -moz-transition: 0.35s;
    transition: 0.35s;
    box-shadow: 0 0 15px 8px rgba(255, 255, 255, 0.48), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}













.login{
    position: relative; /* Относительное позиционирование */
    top: -1.3em; /* Сдвигаем вниз */
    padding: 0 15px;
}

.login  p{
    font-family: 'Berlin Sans FB';
    font-size: 17pt;
}

.menu{
    position: relative; /* Относительное позиционирование */
    top: -0.7em;
    margin: 0 10px;
}

.menu  img{
    width: 40px;
    height: 28px;
}


div.main_content{
    margin: auto;
    width: 90%;
    background-color: rgba(19, 10,10,0.7);
/*    padding: 0px 20px 80px 20px;*/
    padding: 0 0 80px 0;
    border: 3px solid black;
}
.choose_of_day{
    position: relative;
    background-image: url("../images/main_backgraund.jpg");
    background-position: center;
    width: auto;
    height: 500px;
}

.choose_of_day_description{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    bottom: 0;
    vertical-align: middle;
    margin: auto 0;
    padding: 0 5%;
    width: 50%;
    height: 30%;
    cursor: default;
}

.choose_of_day_description h2{
    font-family: serif;
    font-style: italic;
    font-size: 2em;
}


.button{
    width: 150px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #fff;
    border-radius: 5px;
}

.button:hover{
    background-color: rgba(255,255,255,.1);
    cursor: pointer;
}

.sing_up{
    position: relative;
    font-family: 'Berlin Sans FB';
    margin: 0 0;
    border-top: 15px solid rgba(0, 0, 0 ,.9);
    border-bottom: 15px solid rgba(0, 0, 0 ,.9);
    height: auto;
    padding: 30px 10%;
    color: black;
    background-color: rgba(255,255,255,.9);
}

envelope_img{
    display: inline-block;
    position: relative;
    float: left;
}

.sing_up_block{
    position: relative;
    display: inline-block;
    float: right;
    margin: 20px 40px;
    
}
.sing_up p{
    vertical-align: middle;
    margin: 0 25px;
    line-height: 22px;
    font-size: 1.5rem;
}

input[type="email"]{
    margin: 0 10px;
    height: 22px;
    outline: none;
}

input[type="email"]:focus{
    outline: 1px solid #aaa;
    
}

.sing_up button{
    height: 40px;
    width: 150px;
    color: white;
    background-color: black;
    border: 1px solid rgb(230,230,230);
    border-radius: 5px;
    outline: none;
}

.sing_up button:focus{
    box-shadow: 0pt 0pt 10pt 3pt gray;
    position: relative;
}

.sing_up button:hover{
    background-color: rgba(0,0,0,.8);
}
/*
#background-image{
 position:absolute;
 top:0;
 left:0;
 z-index:-10;
 overflow: hidden;
 width: 100%;
 display:none;
 }

#background-tone{
 position:absolute;
 top:0;
 left:0;
 z-index:-10;
 overflow: hidden;
 width: 100%;
 display:none;
 }

header{
  width: 900px;   
  height: 200px;   
  background-color: rgba(19, 10,10,0.7);  
  margin-bottom: 10px;    
}
.content{
 height:500px;}


    https://img3.goodfon.ru/original/1920x1080/0/2b/kafe-kamin-prazdnik.jpg
}
*/
