html{
    background: url(https://img3.goodfon.ru/original/1920x1080/0/2b/kafe-kamin-prazdnik.jpg) no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: cover; /* Современные браузеры */
    @import url('https://fonts.googleapis.com/css?family=Acme');
    @import url('https://fonts.googleapis.com/css?family=Mali');
    @import url('../fonts/Berlin%20Sans%20FB%20Regular.ttf');
    @import url('../fonts/Berlin%20Sans%20FB%20Demi%20Bold.ttf');
    
}


body{
    
    width: 90%;
    margin: 100px auto;
    background-color: rgba(19, 10,10,0.7);
    padding: 0px 20px 20px 20px;
    border: 3px solid black;
    
}

.toolbar {
/*    font-family: 'Mali', cursive;*/
    font-family: 'Berlin Sans FB';
    
position: fixed; 
border-bottom: 5px;
border-bottom-color:  rgba(19, 10,10,0.7);
background-color: rgba(19,16,10,1);
top: 0px; 
left: 0px; 
z-index: 9999;
width: 100%;
height: 100px; 
}

div.toolbar > div{
    display: inline-block;
}

div.worktime{
    position: relative; /* Относительное позиционирование */
    top: -0.8em; /* Сдвигаем вниз */
    font-size: 1.2em;
    display: inline-block;
    text-align: left;
    color: white;
}
div.search{
    position: relative; /* Относительное позиционирование */
    top: -1.6em; /* Сдвигаем вниз */
    padding:0 20px;
    margin-left: 10%;
}

#logo{
    display: inline;
    margin-top: 0.22%;
    margin-left: 5%;
}

[placeholder="Search"]{
/*    font-family: 'Berlin Sans FB';*/
    background: url(http://s1.iconbird.com/ico/2013/9/450/w256h2561380453921Search256x25632.png) no-repeat 3px 1px;
    background-position: 7px 1.2px;
    background-size:  7%;
    padding-left: 22px;
/*    padding-right: 10px;*/
    border-width: 0;
    border-radius: 10px;
    outline-color:aquamarine;
    outline: inherit;
    
   
}

input[type="search"]:focus {
    box-shadow: 0 0 0 2pt gray;
}


.search > div{
    background-color: rgba(255, 250, 250,0.97);
    border-radius: 10px;
    
}







p{
    font-family: 'Acme', sans-serif;
    color: white;
/*    background-color: rgba(19, 10,10,0.7);  */
}
 
/*
#background-image{
 position:absolute;
 top:0;
 left:0;
 z-index:-10;
 overflow: hidden;
 width: 100%;
 display:none;
 }

#background-tone{
 position:absolute;
 top:0;
 left:0;
 z-index:-10;
 overflow: hidden;
 width: 100%;
 display:none;
 }

header{
  width: 900px;   
  height: 200px;   
  background-color: rgba(19, 10,10,0.7);  
  margin-bottom: 10px;    
}
.content{
 height:500px;}


    https://img3.goodfon.ru/original/1920x1080/0/2b/kafe-kamin-prazdnik.jpg
}
*/
